src/main/mule/anypoint-cli-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3b0ac462-b373-4ca8-92a8-28a0baba5929" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="anypoint-cli-testFlow" doc:id="ded17c5e-22d3-498e-852c-325c35bf77f8" >
		<http:listener doc:name="Listener" doc:id="12191120-0242-446f-bd01-e1c03be759ca" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="21db775e-03f3-46d1-8619-ceb38b8a2bd4" message='#["Test Run 1"]'/>
		<ee:transform doc:name="Transform Message" doc:id="0b0f9a16-5c5f-49fa-bdd8-b58c4309607b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Hello World"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
